body {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-wrapper {
  width: 768px;
  height: 792px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0096c2;
  height: 56px;
  width: 768;
  border-radius: 5px 5px 0 0;
}

.form-header-text {
  color: #ffffff;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 736px;
}

.send-message-text {
}

.message-type-buttons {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 245px;
  height: 44px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.button-icons {
  padding-right: 20px;
}

.button-text {
  padding-left: 20px;
}

#email-button {
  margin: 0 10px 0 0;
}

.tick {
  color: #2aa43c;
}

.cross {
  color: #cccccc;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
}

.form-input {
  width: 480px;
  height: 44px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 0 0 3px;
  border-color: #cccccc;
}

.hidden-input {
  width: 500px;
  display: none;
}

.grey-area {
  width: 20px;
  height: 46px;
  background-color: #f4f6f8;
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #cccccc;
  display: flex;
  justify-content: center;
}

.textarea-grey-area {
  width: 20px;
  height: 173px;
  background-color: #f4f6f8;
  border-radius: 0 3px 3px 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #cccccc;
  display: flex;
  justify-content: center;
}

.asterisk {
  padding-top: 5px;
  color: #f83232;
}

.email-details {
  display: flex;
  flex-direction: column;
}

.sms-details {
  display: flex;
  flex-direction: column;
}

textarea {
  outline: none;
  height: 169px;
  width: 480px;
  border-radius: 3px 0 0 3px;
  border-color: #cccccc;
  resize: none;
}

.message {
  display: flex;
  flex-direction: column;
}

.submit-button {
  background-color: #009fcc;
  height: 44px;
  width: 131px;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

.submit-button[disabled] {
  background-color: #c4c4c4;
}

.submit-icon-button {
  color: #ffffff;
}
